<p>company-profile works!</p>
<button class="btn btn-primary" (click)="updateCompanyProfile()">Back</button>

<div id="companyPicture">
    <img id="profilePic" src="assets\profile_picture.png" alt="Company Picture" width="160" height="160">
</div>

<div>
    <section class="company_basic_info">
        <fieldset id="f-company_basic_info">
            <h3>Compnay Name</h3>
            <p>Year Established: </p>
        </fieldset>
    </section>
</div>

<div>
    <section class="company_experience">
        <fieldset id="f-company_experience">
            <p>Description:</p><br>
            <p>.....</p><br>
        </fieldset>
    </section>
</div>

<div>
    <section class="company_contact_info">
        <fieldset id="f-company_contact_info">
            <h3><b>Contact Information</b></h3>
            <p>Phone: .....</p><br>
            <p>Email: .....</p><br><br><br><br>
            <h4>Address</h4><br>
            <p>Street: .....</p><br>
            <p>City: .....</p><br>
            <p>State: .....</p><br>
            <p>Zip: .....</p><br>
        </fieldset>
    </section>
</div>