<p>js-profile works!</p>

<button class="btn btn-primary" (click)="updateProfile()">Update Profile</button>

<div id="profilePicture">
    <img id="profilePic" src="assets\profile_picture.png" alt="Profile Picture" width="160" height="160">
</div>

<div>
    <fieldset id="js_basic_info">
        <h3>First Name Last Name</h3>
        <p>DOB: 06/06/2001</p>
        <p>Transporation:</p>
        <p>- Owns a Vehicle: Yes</p>
        <p>- Has an available ride: No</p>
        <p>- Has a license: Yes</p>
    </fieldset>
</div>

<div>
    <fieldset id="js_experience">
        <p>Previous Experience: .....</p><br>
        <p>Skills: .....</p><br>
        <p>Interests: ......</p><br>
    </fieldset>
</div>

<div>
    <fieldset id="js_contact_info">
        <h3><b>Contact Information</b></h3>
        <p>Phone: .....</p><br>
        <p>Email: .....</p><br><br><br><br>
        <h4>Address</h4><br>
        <p>Street: .....</p><br>
        <p>City: .....</p><br>
        <p>State: .....</p><br>
        <p>Zip: .....</p><br>
    </fieldset>
</div>