
<div id="js-main-div">

    <h2>User Profile</h2>

    <button class="btn btn-primary" (click)="updateProfile()">Update Profile</button>

    <div id="js-sub-div">

    <div id="js-basic-div">

    <div id="profilePicture">
        <img id="profilePic" src="assets\profile_picture.png" alt="Profile Picture" width="160" height="160">
    </div>

    <div>
        <section class="js_basic_info">
            <fieldset id="f-js_basic_info">
                <h3> {{user_info.first_name}} {{user_info.last_name}}</h3>
                <p>DOB: {{user_info.date_of_birth}}</p>
                <p>Transporation:</p>
                <p>- Owns a Vehicle: {{user_info.owns_car}} </p>
                <p>- Has an available ride: {{user_info.ride_available}}</p>
                <p>- Has a license: {{user_info.has_license}}</p>
            </fieldset>
        </section>
    </div>

    <div>
        <section class="js_experience">
            <fieldset id="f-js_experience">
                <p>Previous Experience:</p><br>
                <p>Job: {{user_info.job_1}}</p>
                <p>Employer: {{user_info.empl_1}}</p><br>
                <p>Job: {{user_info.job_2}}</p>
                <p>Employer: {{user_info.empl_2}}</p><br>
                <p>Job: {{user_info.job_3}}</p>
                <p>Employer: {{user_info.empl_3}}</p><br><br><br>
                <p>Skills: {{user_info.skills}}</p><br>
                <p>Interests: {{user_info.job_interests}}</p><br>
            </fieldset>
        </section>
    </div>

    </div>

    <div id="js-contact-div">

    <div>
        <section class="js_contact_info">
            <fieldset id="f-js_contact_info">
                <h3><b>Contact Information</b></h3>
                <p>Phone: {{user_info.phone_number}}</p><br>
                <p>Email: {{user_info.email_address}}</p><br><br><br><br>
                <h4>Address:</h4><br>
                <p>Street: {{user_info.street}}</p><br>
                <p>City: {{user_info.city}}</p><br>
                <p>State: {{user_info.state}}</p><br>
                <p>Zip: {{user_info.zip}}</p><br>
            </fieldset>
        </section>
    </div>

    </div>
	<div>
	<app-record></app-record>
	</div>
    </div>

</div>