<div id="color_for_companies">

<h2>List of Companies</h2>

<p *ngIf="!ready; else show">
  Please wait ...
</p>

<body>
	<div>
		<section id="buttons">
			<p *ngFor='let c of companies'>
				<!-- <img src="assets/profile_picture.png" alt="" id = "button_img"> -->
				<button (click) = "newPage()" id = "comp_button">
					<img src="assets/profile_picture.png" alt="" id = "button_img">
					{{c.name}}
				</button>
			</p>
		</section>
	</div>
	<div>
		<section id="company_profile">
			<iframe id="frame" src="company-profile" width="1300" height="850"></iframe>
		</section>
	</div>
</body>

<ng-template #show>
  <p *ngFor="let c of companies">
    <b>{{c.name}}</b>
    <br>
    {{c.address1}}
    <br>
    {{c.city}} {{c.zip_code}}
  </p>
</ng-template>

</div>
