<h2>Applicant Profile</h2>

<meta content="width=divice-width, initial-scale=1.0">

<body>

    <div>
        <p>Profile Picture</p>
    </div>

    <!--Start of FORM-->
    <form action="/results.html" method="GET" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <fieldset id="basicInfo">
            <legend>Basic Info</legend>
            <label>
                First Name:<br>
                <input type="text" formControlName="firstName" required><br>
            </label>
        
            <label>
                Last Name:<br>
                <input type="text" formControlName="lastName"><br>
            </label>
        
            <div>
                <label>
                    Date of Birth:<br>
                    <input type="text" formControlName="dateOfBirth"><br>
                </label>
        
                <label>
                    Gender:
                    <select id="gender">
                        <option value="select">Select</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="other">Other</option>
                    </select>
                </label><br>
                <label>
                    Phone Number:<br>
                    <input type="text" formControlName="phone_number"><br>
                </label>
                <label>
                    Email Address:<br>
                    <input type="text" formControlName="email_address"><br>
                </label>
            </div>
        </fieldset>

    <!--Address-->
        <div formGroupName="address">
            <fieldset id="address">
                <legend>Current Address</legend>

                <label>
                    Street:<br>
                    <input type="text" formControlName="street">
                </label><br>
        
                <label>
                    City:<br>
                    <input type="text" formControlName="city">
                </label><br>
        
                <label>
                    State:<br>
                    <input type="text" formControlName="state">
                </label><br>
        
                <label>
                    Zip Code:<br>
                    <input type="text" formControlName="zip">
                </label><br>
            </fieldset>
        </div>

        <fieldset id="referalSource">
            <legend>Other Information</legend>
            <label>
                Do you have a license?:
                <select formControlName = "has_license">
                    <option value="select">Select</option>
                    <option value= "true" >Yes</option>
                    <option value= "false">No</option>
                </select>
            </label><br>

            <label>
                Do you own a car?:
                <select formControlName = "owns_car">
                    <option value="select">Select</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </label><br>

            <label>
                Do you have a ride available?:
                <select formControlName = "ride_available">
                    <option value="select">Select</option>
                    <option value="true">Yes</option>
                    <option value="false">Yes</option>
                </select>
            </label><br>

            <label>
                Select your start availability:
                <select formControlName = "status_id">
                    <option value="select">Select</option>
                    <option value= 1 >Ready to start in 6+ months</option>
                    <option value= 2 >Ready to start in 3-5 months</option>
                    <option value= 5 >Ready to start in 1-2 months</option>
                    <option value= 7 >Ready to start in less than 1 month</option>
                </select>
            </label><br>
        </fieldset>
        <!--job information-->
        <br>
        <div formGroupName="experience">
            <fieldset id="experience">
                <legend>Experience</legend>
                <p>
                    Below, please enter previous jobs/volunteering that you have held, in order of relevance.  Please include the company/organization name.
                </p>

                <label>
                    Position #1:
                    <input type="text" formControlName="job_1"><br>
                </label>
                <label>
                    Employer #1:
                    <input type="text" formControlName="empl_1"><br>
                </label>
                <br>
                <label>
                    Position #2:
                    <input type="text" formControlName="job_2"><br>
                </label>
                <label>
                    Employer #2:
                    <input type="text" formControlName="empl_2"><br>
                </label>
                <br>
                <label>
                    Position #3:
                    <input type="text" formControlName="job_3"><br>
                </label>
                <label>
                    Employer #3:
                    <input type="text" formControlName="empl_3"><br>
                </label>
            </fieldset>
        </div>
                <br>
            <fieldset id="Job Demographics">
                <legend>Job Demographics</legend>
                <label>
                    Enter your job skills:<br>
                    <input type="text" formControlName="skills"><br>
                </label>

                <label>
                    Enter jobs you are interested in:<br>
                    <input type="text" formControlName="job_interests" required><br>
                </label>
            </fieldset>
    

    <button id="formButton" type="reset">Reset</button>

    <button id="formButton" type="submit">Submit</button>

    <button class="btn btn-primary" (click)="goProfilePage()">Go to My Profile</button>
    </form>
</body>