
<h2>Applicant Profile</h2>

<!--Start of FORM-->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <label>
            First Name:<br>
            <input type="text" formControlName="firstName" required><br>
        </label>
    
        <label>
            Last Name:<br>
            <input type="text" formControlName="lastName"><br>
        </label>
    
        <div>
            <label>
                Date of Birth:<br>
                <input type="text" formControlName="dateOfBirth"><br>
            </label>
    
            <label>
                Gender:
                <select id="gender">
                    <option value="select">Select</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="other">Other</option>
                </select>
            </label>

            <label>
                Phone Number:<br>
                <input type="text" formControlName="phone_number"><br>
            </label>
            <label>
                Email Address:<br>
                <input type="text" formControlName="email_address"><br>
            </label>
        </div>
    </fieldset>

<!--Address-->
    <div formGroupName="address">
        <fieldset>
            <h3>Address</h3>

            <label>
                Street:<br>
                <input type="text" formControlName="street">
            </label><br>
    
            <label>
                City:<br>
                <input type="text" formControlName="city">
            </label><br>
    
            <label>
                State:<br>
                <input type="text" formControlName="state">
            </label><br>
    
            <label>
                Zip Code:<br>
                <input type="text" formControlName="zip">
            </label><br>
    
            <input type="checkbox" id="currentAddress" name="currentAddress">
            <label for="currentAddress">Is This Your Current Adress?</label><br>
    
            <input type="checkbox" id="primaryAddress" name="primaryAddress">
            <label for="primaryAddress">Is This Your Primary Adress?</label><br>
        </fieldset>
    </div>

<!--MORE INFO-->

    <fieldset>
        <label>
            Do you have a license?:
            <select formControlName = "has_license">
                <option value="select">Select</option>
                <option value= "true" >Yes</option>
                <option value= "false">No</option>
            </select>
        </label><br>

        <label>
            Do you own a car?:
            <select formControlName = "owns_car">
                <option value="select">Select</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </label><br>

        <label>
            Do you have a ride available?:
            <select formControlName = "ride_available">
                <option value="select">Select</option>
                <option value="true">Yes</option>
                <option value="false">Yes</option>
            </select>
        </label><br>

        <label>
            Select your start availability:
            <select formControlName = "status_id">
                <option value="select">Select</option>
                <option value= 1 >Ready to start in 6+ months</option>
                <option value= 2 >Ready to start in 3-5 months</option>
                <option value= 5 >Ready to start in 1-2 months</option>
                <option value= 7 >Ready to start in less than 1 month</option>
            </select>
        </label><br>

        <label>
            Enter your job skills:<br>
            <input type="text" formControlName="skills"><br>
        </label>

        <label>
            Enter your Support Contact:<br>
            <input type="text" formControlName="support_contact"><br>
        </label>

        <label>
            Enter jobs you are interested in:<br>
            <input type="text" formControlName="job_interests" required><br>
        </label>

    </fieldset>
    <button id="formButton" type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>

<!--SUBMIT BUTTON-->
<button id="formButton" type="reset">Reset</button>

<p>
    <button id="formButton" (click)="updateProfile()">Update Profile</button>
</p>

<!--

<app-name-editor></app-name-editor>

<p>
    Value: {{ profileFirstName.value }}
</p>

<p>
    <button (click)="updateName()">Update Name</button>
</p>

-->