<p>job-screen works!</p>

<button class="btn btn-primary" (click)="updateAddJob()">Update Your Jobs</button>

<div>
    <section class="js_basic_info">
        <fieldset id="f-js_basic_info">
            <h3>Company Name</h3>
            <p>Job Name</p>
            <p>Job Description</p>
        </fieldset>
    </section>
</div>

<div>
    <section class="js_experience">
        <fieldset id="f-js_experience">
            <p>Contact Name</p><br>
            <p>Contact Number</p><br>
            <p>Contact Email</p><br>
        </fieldset>
    </section>
</div>

<div>
    <section class="js_contact_info">
        <fieldset id="f-js_contact_info">
            <h3><b>List Date</b></h3>
            <p>Fill Date</p><br>
            </fieldset>
    </section>
</div>
