
<h2>Applicant Profile</h2>

<!--Start of FORM-->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <label>
            First Name:<br>
            <input type="text" formControlName="firstName" required><br>
        </label>
    
        <label>
            Last Name:<br>
            <input type="text" formControlName="lastName"><br>
        </label>
    
        <div>
            <label>
                Date of Birth:<br>
                <input type="text" formControlName="dateOfBirth"><br>
            </label>
    
            <label>
                Gender:
                <select id="gender">
                    <option value="select">Select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </label>
        </div>
    </fieldset>

<!--Address-->
    <div formGroupName="address">
        <fieldset>
            <h3>Address</h3>

            <label>
                Street:<br>
                <input type="text" formControlName="street">
            </label><br>
    
            <label>
                City:<br>
                <input type="text" formControlName="city">
            </label><br>
    
            <label>
                State:<br>
                <input type="text" formControlName="state">
            </label><br>
    
            <label>
                Zip Code:<br>
                <input type="text" formControlName="zip">
            </label><br>
    
            <input type="checkbox" id="currentAddress" name="currentAddress">
            <label for="currentAddress">Is This Your Current Adress?</label><br>
    
            <input type="checkbox" id="primaryAddress" name="primaryAddress">
            <label for="primaryAddress">Is This Your Primary Adress?</label><br>
        </fieldset>
    </div>

<!--MORE INFO-->

    <fieldset id="referalSource">
        <label>
            Referal Source:
            <select>
                <option value="select">Select</option>
                <option value="emailSponsor">Email Sponsor</option>
                <option value="inPerson">In Person</option>
                <option value="employee">Employee</option>
            </select>
        </label><br>

        <label>
            City Link Status:
            <select>
                <option value="select">Select</option>
                <option value="citizen">Citizen</option>
                <option value="immigrant">Immigrant</option>
                <option value="other">Other</option>
            </select>
        </label><br>

        <label>
            Staffing Agency:
            <select>
                <option value="select">Select</option>
                <option value="something">Something</option>
                <option value="something">Something</option>
                <option value="other">Other</option>
            </select>
        </label><br>

        <label>
            Status:
            <select>
                <option value="select">Select</option>
                <option value="something">Something</option>
                <option value="something">Something</option>
                <option value="other">Other</option>
            </select>
        </label><br>

        <label>
            Job Interest:<br>
            <input type="text" formControlName="jobInterest"><br>
        </label>
    </fieldset>
</form>

<!--SUBMIT BUTTON-->
<button id="formButton" type="submit" [disabled]="!profileForm.valid">Submit</button>
<button id="formButton" type="reset">Reset</button>

<p>
    <button id="formButton" (click)="updateProfile()">Update Profile</button>
</p>

<!--

<app-name-editor></app-name-editor>

<p>
    Value: {{ profileFirstName.value }}
</p>

<p>
    <button (click)="updateName()">Update Name</button>
</p>

-->