<div id="home_main">

    <h2>Home</h2>

    <div id="welcome_box">

        <h1 id="welcome_text">Welcome To Jobs Board!</h1>

        <h1 id="welcome_line">---</h1>

        <h1 id="welcome_slogan">Find work that is looking for YOU.</h1>
        
    </div>

    <div id="container-k">
        <a href="https://www.kroger.com/?ds_rl=1281638&ds_rl=1281562&cid=ps_adw_ogs.brand_t:kroger&gclid=CjwKCAjw7J6EBhBDEiwA5UUM2uwYNBxak90wTQ7uArOx1vjP13_dGWKp5riFS7j65083_KToX5u68hoCpdQQAvD_BwE&gclsrc=aw.ds" target="_blank" rel="noopener noreferrer">
            <img id="welcome-companies" src="assets\kroger.png" alt="Kroger Picture" width="160" height="160">
        </a>
    </div>

    <div id="container-a">
        <a href="https://www.apple.com/" target="_blank" rel="noopener noreferrer">
            <img id="welcome-companies" src="assets\apple.png" alt="Apple Picture" width="160" height="160">
        </a>
    </div>

    <div id="container-s">
        <a href="https://www.starbucks.com/?utm_id=go_cmp-8182317723_adg-84158829829_ad-434089923971_kwd-12631311_dev-c_ext-_prd-_mca-_sig-CjwKCAjw7J6EBhBDEiwA5UUM2rVNqF2cOshlNiJZAWgc14d8_KyjLHUJGAe1mN8sPMJvXfAcDnOQ_RoC77gQAvD_BwE&utm_source=google&utm_term=starbucks&utm_campaign=BR-Brand-HighVolume-Desktop-Exact&utm_medium=cpc&utm_matchtype=e&gclid=CjwKCAjw7J6EBhBDEiwA5UUM2rVNqF2cOshlNiJZAWgc14d8_KyjLHUJGAe1mN8sPMJvXfAcDnOQ_RoC77gQAvD_BwE" target="_blank" rel="noopener noreferrer">
            <img id="welcome-companies" src="assets\starbucks.png" alt="Starbucks Picture" width="160" height="160">
        </a>
    </div>

    <div id="container-t">
        <a href="https://www.tesla.com/" target="_blank" rel="noopener noreferrer">
            <img id="welcome-companies" src="assets\tesla.jpg" alt="Tesla Picture" width="160" height="160">
        </a>
    </div>

    <div id="container-i">
        <a href="https://www.ikea.com/us/en/" target="_blank" rel="noopener noreferrer">
            <img id="welcome-companies" src="assets\Ikea.jpg" alt="Ikea Picture" width="160" height="160">
        </a>
    </div>

</div>
