<div id="home_main">

    <div id="welcome_box">

        <h1 id="welcome_text">Welcome To Jobs Board!</h1>

        <h1 id="welcome_line">---</h1>

        <h1 id="welcome_slogan">Find work that is looking for YOU.</h1>
        
    </div>

    <div id="container-k">
        <img id="welcome-companies" src="assets\kroger.png" alt="Kroger Picture" width="160" height="160">
    </div>

    <div id="container-a">
        <img id="welcome-companies" src="assets\apple.png" alt="Apple Picture" width="160" height="160">
    </div>

    <div id="container-s">
        <img id="welcome-companies" src="assets\starbucks.png" alt="Starbucks Picture" width="160" height="160">
    </div>

    <div id="container-t">
        <img id="welcome-companies" src="assets\tesla.jpg" alt="Tesla Picture" width="160" height="160">
    </div>

    <div id="container-i">
        <img id="welcome-companies" src="assets\Ikea.jpg" alt="Ikea Picture" width="160" height="160">
    </div>

</div>
