/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clickabul {
  cursor: pointer;
}

.flexspacer {
  flex: 1 1 auto;
}

.spacer {
  margin: 0.5em;
}

.small-spacer {
  margin: 0.25em;
}

input[type=text] {
  margin: 8px 0;
}
/*
#formButton:hover {
  background-color: red;
}
*/

select {

}

fieldset {
  width: 250px;
}

#basicInfo {
  position: absolute;
  top: 48px; left: 500px;
}

#address {
}

#referalSource {
  position: absolute;
  top: 400px; left: 500px;
}

#profilePicture{
  background-color: lightgrey;
  width: 300px;
  height: 400px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}