/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #EAE7DC;
}

#home_main {
  background-color: #EAE7DC;
  height: 720px;
}

#welcome_box {
  background-color: #D8C3A5;
  border: 15px solid #E85A4F;
  position: relative;
  top: 50px;
  height: 400px;
}

#welcome_text {
  background-color: #D8C3A5;
  position: relative;
  width: 300px;
  top: 200px;
  left: 250px;
}

#welcome_line {
  background-color: #D8C3A5;
  position: relative;
  width: 40px;
  top: 150px;
  left: 630px;
}

#welcome_slogan {
  background-color: #D8C3A5;
  position: absolute;
  width: 400px;
  top: 200px;
  left: 750px;
}

#welcome-companies {
  background-color: #EAE7DC;
  position: relative;
  float: left;
  left: 140px;
  top: 85px;
  margin-right: 75px;
  border-radius: 30%;
}

#welcome-companies:hover {
  top: 60px;
}

.clickabul {
  cursor: pointer;
}

.flexspacer {
  flex: 1 1 auto;
}

.spacer {
  margin: 0.5em;
}

.small-spacer {
  margin: 0.25em;
}

input[type=text] {
  margin: 8px 0;
}

form {
  left: 30px;
}

select {

}

fieldset {
  width: 260px;
}

//Job Seeker CSS:
#formButton {
  float: left;
  position: relative;
  margin: 10px;
  top: 0px;
  left: 760px;
}

#go-to-profile-button {
  float: left;
  position: relative;
  margin: 10px;
  right: 335px;
  top: -435px;
}

#editProfilePicture{
  position: relative;
  background-color: #D8C3A5;
  left: 100px;
  top: 0px;
  width: 150px;
  height: 150px;
  border: 15px solid #E85A4F;
  padding: 50px;
}

#editProfilePic{
  position: relative;
  top: -475px;
  width: 150px;
  height: 150px;
}

#selectPicture{
  position: relative;
  top: 20px;
  right: 1000px;
}

#updateApplicant{
  background-color: #EAE7DC;
  height: 800px;
}

#basicInfo{
  float: left;
  position: relative;
  background-color: #D8C3A5;
  height: 325px;
  left: 400px;
}

#address{
  float: left;
  position: relative;
  background-color: #D8C3A5;
  height: 325px;
  left: 400px;
}

#referalSource{
  float: left;
  position: relative;
  background-color: #D8C3A5;
  height: 133px;
  left: 111px;
  top: 338px;
}

#experience{
  float: left;
  position: relative;
  background-color: #D8C3A5;
  height: 400px;
  left: 110px;
  top: -20px;
}

#jobDemographics{
  float: left;
  position: relative;
  background-color: #D8C3A5;
  height: 133px;
  left: 400px;
  top: -100px;
}

//js-profile

#profilePicture{
  position: relative;
  left: 175px;
  background-color: #D8C3A5;
  width: 150px;
  height: 150px;
  border: 15px solid #E85A4F;
  padding: 50px;
}

.js_basic_info{
  position: relative;
  left: 475px;
  bottom: 200px;
  height: 60px;
}

#f-js_basic_info{
  border: 0;
}

.js_experience{
  position: relative;
  background-color: #D8C3A5;
  left: 175px;
  bottom: 25px;
  width: 525px;
}

#f-js_experience{
  width: 500px;
}

.js_contact_info{
  position: relative;
  background-color: #D8C3A5;
  width: 325px;
}

#f-js_contact_info{
  width: 300px;
}

#js-main-div{
  background-color: #EAE7DC;
}

#js-sub-div{
  background-color: #EAE7DC;
}

#js-basic-div{
  background-color: #EAE7DC;
  height: 500px;
  width: 750px;
}

#js-contact-div{
  position: relative;
  bottom: 500px;
  left: 800px;
  background-color: #EAE7DC;
  height: 500px;
  width: 400px;
}

//Company CSS:
#background{
  background-color: #EAE7DC;
}
#company_container{
  position: relative;
  top: 30px;
  height: 1300px;
  background-color: #EAE7DC;
  margin-left: 100px;
  margin-right: 450px;
}

#main{
  position: relative;
  top: 30px;
  left: 50px;
  height: 465px;
  background-color: #D8C3A5;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid grey;
  width: 607px;
}

#companyPicture{
  position: relative;
  left: 40px;
  top: 30px;
  background-color: lightgrey;
  border: 15px solid #E85A4F;
  width: 150px;
  height: 150px;
  padding: 50px;
}

.company_basic_info{
  position: absolute;
  bottom: 250px;
  left: 300px;
  border: 0;
  margin-left: 20px;
  margin-top: 60px;
  margin-right: 60px;
}

#f-company_basic_info{
  border: 0;
}

.company_experience{
  position: relative;
  left: 40px;
  top: 40px;
  border: 1;
  margin-bottom: 30px;
}

#f-company_experience{
  width: 500px;
}

.company_contact_info{
  position: relative;
  float: right;
  background-color: #D8C3A5;
  top:  -450px;
  left: 255px;
  border: 1;
}

#f-company_contact_info{
  width: 300px;
}

.company_job_list{
  position: relative;
  background-color: #D8C3A5;
  top: 50px;
  left: 125px;
  border: 1;
  margin-right: 457px;
}

#f-company_job_list{
  width: 300px;
}

#color_for_companies{
  background-color: #EAE7DC;
}

//------
#ViewCompanyPage{
  width: 500px;
  height: 500px;
}

@media (max-height: 500px){
  body {
    background-color: green;
  }
}