/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clickabul {
  cursor: pointer;
}

.flexspacer {
  flex: 1 1 auto;
}

.spacer {
  margin: 0.5em;
}

.small-spacer {
  margin: 0.25em;
}

input[type=text] {
  margin: 8px 0;
}

form {
  
  left: 30px;
}

select {

}

fieldset {
  width: 250px;
}

//Job Seeker CSS:
#formButton {
  float: left;
  margin: 10px;
}

#updateApplicant{
  background-color:cornsilk;
  height: 600px;
}

#basicInfo{
  float: left;
}

#address{
  float: left
}

#referalSource{
  float: left;
}

#profilePicture{
  float: left;
  background-color: lightgrey;
  width: 150px;
  height: 150px;
  border: 15px solid green;
  padding: 50px;
  margin-left: 200px;
  margin-top: 30px;
}

.js_basic_info{
  float:left;
  border: 0;
  margin-left: 20px;
  margin-top: 60px;
  margin-right: 60px;
}

#f-js_basic_info{
  border: 0;
}

.js_experience{
  position: relative;
  top: 320px;
  right: 640px;
  border: 1;
}

#f-js_experience{
  width: 500px;
}

.js_contact_info{
  position: relative;
  border: 1;
  margin-right: 200px;
}

#f-js_contact_info{
  width: 300px;
}

//Company CSS:
#background{
  background-color:burlywood;
}
#company_container{
  position: relative;
  top: 30px;
  height: 1300px;
  background-color:#ffbcbc;
  margin-left: 100px;
  margin-right: 450px;
}

#main{
  position: relative;
  top: 30px;
  height: 500px;
  background-color:aqua;
  margin-left: 30px;
  margin-right: 30px;
}

#companyPicture{
  position: relative;
  left: 40px;
  top: 30px;
  background-color: lightgrey;
  width: 150px;
  height: 150px;
  padding: 50px;
}

.company_basic_info{
  position: absolute;
  bottom: 250px;
  left: 300px;
  border: 0;
  margin-left: 20px;
  margin-top: 60px;
  margin-right: 60px;
}

#f-company_basic_info{
  border: 0;
}

.company_experience{
  position: relative;
  left: 40px;
  top: 40px;
  border: 1;
  margin-bottom: 30px;
}

#f-company_experience{
  width: 500px;
}

.company_contact_info{
  position: relative;
  float: right;
  border: 1;
}

#f-company_contact_info{
  width: 300px;
}

.company_job_list{
  border: 1;
  margin-right: 200px;
}

#f-company_job_list{
  width: 300px;
}

@media (max-height: 500px){
  body {
    background-color: green;
  }
}